CABINET_STORAGE_DIR=/cabinet-storage
CABINET_MAX_SIZE_MB=1000
CABINET_PORT=8080
CABINET_CODE_EXPIRATION_MS=86400000

POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=86400000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=