CABINET_STORAGE_DIR=/cabinet-storage
CABINET_MAX_SIZE_MB=500
CABINET_PORT=8765
CABINET_CODE_EXPIRATION_MS=86400000

POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

JWT_SECRET=secretjwtkeyforauthenticationmustbelongandsecure
JWT_EXPIRATION_MS=86400000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password